.Single_Project_Stats{
    height: auto;
    width: calc(100% - 200px);
    background-color: white;
    display: flex;
    justify-content: center;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.open {
    width: 100%
}
.chart_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart_box{
    height: 80%;
    width: 80%;
}
 