.Single_Project_Stats{
    height: auto;
    width: calc(100% - 200px);
    background-color: white;
    display: flex;
    justify-content: center;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.open {
    width: 100%
}
.chart_container{
    min-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart_box{
    height: 400px;
    width: 400px;
}