.personal_dashboard{
   height: 90vh;
   width: calc(100% - 200px);
   background-color: white;
   display: flex;
   justify-content: center;
   transition: all .5s;
   overflow-y: scroll;

}

.open{
   width: 100%;
}

.task_filler{
   height: 90vh;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   background-color: white;
   justify-content: center;
   align-items: center;
}
.task_container{
   height: 95%;
   width: 100%;
   background-color: white;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.tasks{
   height: 95%;
   width: 22%;
   background-color: lightblue;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   overflow: none;
   overflow-y: auto;
}
.task{
   height: 150px;
   background-color: red;
   margin: 2px 10px 2px 10px;
   border-radius: 5px;
}

.plus-sign {
   cursor: pointer;
   position: sticky;
   top: 100px;
}
#task_name{
   height: 8%;
   width: 100%;
   background-color: transparent;
   font-size: 20px;
   text-align: left ;
   padding: 10px;
}