.projects{
   height: auto;
   width: calc(100% - 200px);
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
   overflow-y: scroll;
   transition: all .5s
   /* margin-left: 40px; */
}
.open {
   width: 100%
}
.idea {
   background-color: #929292;
   height: 300px;
   width: 300px;
   margin: 5px 15px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.idea:hover{
   background-color: salmon;
   height: 300px;
   width: 300px;
   margin: 5px 15px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   opacity: 80%;
   cursor: pointer;
}
 


