.show_side_bar {
  left: 0px;
  height: auto;
  width: 200px;
  background-color: rgb(235, 238, 255);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: initial;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  transition: all 0.8s ease;
  overflow: hidden;
}
.hide_side_bar {
  height: 90vh;
  width: 0px;
  background-color: rgb(195, 174, 243);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 50px 0;
  overflow: hidden;
  transition: all 0.8s ease;
}
#profile_img_container {
  display: flex;
  height: 165px;
  width: 200px;
  justify-content: center;
}
#logout_container {
  height: 30px;
  width: 200px;
}
#logout {
  height: 30px;
  width: 30px;
}

@keyframes open {
  from {
    width: 0%;
  }
  to {
    width: 200px;
  }
}

@keyframes close {
  from {
    width: 200px;
  }
  to {
    width: 0%;
  }
}
.sidebar_links {
  height: 50px;
  width: 200px;
}
.sidebar_links:hover {
  height: 50px;
  width: 200px;
  cursor: pointer;
  opacity: 65%;
}
#profile_img {
  height: 125px;
  width: 125px;
  background-color: gray;
  border-radius: 50%;
  margin-bottom: 50px;
}
