.personal_dashboard {
  height: 90vh;
  width: calc(100vw - 200px);
  background-color: gray;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  justify-content: space-evenly;
  margin: auto;
}

.doneList {
  background-color: lightgreen;
  width: 218px;
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
}

.dashboardTitle {
  padding: 20px;
  font-size: large;
  font-weight: bold;
}
.title {
  padding: 4px;
  font-size: 13px;
  font-weight: bold;
}
.descriptionA {
  padding: 4px;
  font-size: 13px;
}
.priority_high {
  width: 200px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(240, 156, 16);
  background-color: rgb(246, 213, 217);
  margin: auto;
  padding: 4px;
  font-size: 13px;
}

.priority_medium {
  width: 200px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 6);
  background-color: rgb(201, 229, 239);
  margin: auto;
  padding: 4px;
  font-size: 13px;
}

.priority_low {
  width: 200px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(131, 235, 33);
  background-color: rgb(208, 238, 176);
  margin: auto;
  padding: 4px;
  font-size: 13px;
}

.deadline {
  display: flex;
  margin: auto;
  padding: 4px;
  font-size: 13px;
}

.deadlineLogo {
  width: 25px;
  padding-left: 10px;
  margin-top: -1px;
}

.icon {
  width: 50px;
  padding-right: 50px;
}

.popDetail {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  width: 350px;
  border-radius: 15px;
  background-color: rgb(168, 134, 255);
  margin: 20px;
  opacity: 70%;
}
.details {
  margin-top: 15px;
}

.renderTrue {
  margin-left: 65vw;
  margin-top: -35vh;
  transition: 1s ease;
}

.renderFalse {
  margin-left: 125vw;
  margin-top: -35vh;
  transition: 2.5s ease;
}

/* 
.open {
  width: 100%;
}
.task_filler {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.task_container {
  height: 95%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tasks {
  height: 95%;
  width: 22%;
  background-color: lightblue;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.task_holder {
  height: auto;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 5px 5px 25px 25px;
}
.task {
  min-height: 150px;
  background-color: red;
  margin: 0px 10px 8px 10px;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 0;
}
#task_name {
  position: sticky;
  top: 0px;
  height: 8%;
  width: 100%;
  background-color: transparent;
  font-size: 20px;
  text-align: left;
  padding: 10px;
} */

/* <style>
      #root {
        display: flex;
        justify-content: space-evenly;
      }
    </style> */
